<h1>Users#index/profile</h1>
<p>Find me in app/views/users/profile.html.erb</p>
<h2><%= current_user.name %></h2>
<%= link_to("Editar",{:action => 'edit', :id => current_user.id }) %>&ensp;
<%= link_to("Eliminar",current_user, method: :delete) %>