<header>
  <nav class="">
    <ul class="no-list row center-xs middle-xs">
      <li class="col-md center-xs">
        <!-- Antes : <a href="/">Index</a> -->
        <%= link_to 'Index', root_path %>
      </li>
      <li class="col-md center-xs">
        <!-- Antes : <a href="/users/:id">User Profile</a> -->
        <!-- Ahora: -->
        <%= link_to 'URLs', urls_path %>
      </li>
      <li class="col-md center-xs">
        asd
      </li>
    </ul>
  </nav>
</header>    
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>