  <form action="/urls" method="post">
    Ingresa tu url larga
    <br>
    <input type="text" name="url_original">
    <input type="submit" value="short!">
  </form>

  <%= form_for :post do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
   
    <p>
      <%= f.submit %>
    </p>
  <% end %>
