<h1 class="center-xs">Bitly example</h1>

  <form action="/urls" method="post">
    Ingresa tu url larga
    <br>
    <input type="text" name="url_original">
    <input type="submit" value="short!">
  </form>